.heading {
    text-align: center;
    display: inline;
}

input,select { 
    height:50px;
    width:500px; 
    margin: 10px;
    border-radius: 10px;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    font-family: cursive;
}

body{
    text-align: center;
}

button {
    background-color: #c0c0c2;
    border: 1px solid rgb(219, 219, 231);
    cursor: pointer;
    color: rgb(11, 2, 97);
    border-radius: 6px;
    font-size: medium;
    font-family: cursive;
    height:50px;
    width:500px; 
    margin: 12px;
}

.form {
    background: linear-gradient(15deg,#000000 30%, #e7e4e4 50%);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
}

.show_address{
    align-items: center;
    text-align: center;
    font-size: large;
    font-family: cursive;
}